{#
/**
 * @file
 * Theme override for kp rating.
 */
#}
<dl class="kp-rating">
  <dt>{{ 'Kinopoisk:'|t }} </dt>
  <dd>{{ kp_rating }} <span>({{ kp_vote }})</span></dd>

  <dt>{{ 'IMDb:'|t }} </dt>
  <dd>{{ imdb_rating }} <span>({{ imdb_vote }})</span></dd>
</dl>
